@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 240, 240, 240;
  --background-rgb: 10, 10, 15;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Inter', system-ui, sans-serif;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
